.dashboard {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.welcome-banner {
  background: white;
  color: black;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.welcome-banner h2 {
  margin: 0;
}

.stats-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 25px;
  margin-bottom: 50px;
}

.stat-card1{
  background:rgb(128,128,224);
  padding: 25px;
  border-radius: 20px;
  gap:20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  transition:transform0.3s ease;
}
.stat-card1:hover{
  transform: translateY(-5px)
}

.stat-card2{
  background:rgb(19,222,222);
  padding: 25px;
  border-radius: 20px;
  gap:20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  transition:transform0.3s ease;
}
.stat-card2:hover{
  transform: translateY(-5px)
}

.stat-card3{
  background:rgb(32,223,60);
  padding: 25px;
  border-radius: 20px;
  gap:20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  transition:transform0.3s ease;
}
.stat-card3:hover{
  transform: translateY(-5px)
}

.stat-card4{
  background:rgb(237,191,6);
  padding: 25px;
  border-radius: 20px;
  gap:20px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.08);
  transition:transform0.3s ease;
}
.stat-card4:hover{
  transform: translateY(-5px)
}

.stat-card h3 {
  margin: 0 0 8px 0;
  color: #0b0b0b;
  font-size: 14px;
  text-transform: uppercase;
}
.stat-number{
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  color:#f7f8f9;
  /* align-items: center; */
}

.loading {
  text-align: center;
  padding: 50px;
  color: #666;
}